PORT=3000

# Supabase
SUPABASE_URL=https://zpjbpzipewbfwutzxazs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwamJwemlwZXdiZnd1dHp4YXpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNTEwNTksImV4cCI6MjA4OTkyNzA1OX0.9tT_w8y6-shlsf4wQgh_HHqOLOzJJvQ93ggbAfW28mo

# Dogtas API
DOGTAS_BASE_URL=xxx
DOGTAS_ENDPOINT=xxx
DOGTAS_CUSTOMER_NO=xxx
DOGTAS_USERNAME=xxx
DOGTAS_PASSWORD=xxx
DOGTAS_CLIENT_ID=xxx
DOGTAS_CLIENT_SECRET=xxx
DOGTAS_APPLICATION_CODE=xxx
